{% extends "shop_base.html" %}
{% block content %}
<h1 class="text-center">Customers</h1>
<div class="container">
    <table class="table table-bordered table-striped table-dark">
        <thead class="thead-inverse">
            <tr>
                <th>Name</th>
                <th>Card Number</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row"></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}