{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="text-center">New Card</h1>
    <form action="" method="post">
        {{ form.as_table }}
        {% csrf_token %}
        <button class="btn btn-primary btn-block">Save New Card</button>
    </form>
    <p class="text-center">*You are adding new cards here. Please pick a unique name</p>
</div>
<div class="container">
    <h2>Existing cards</h2>
<ul>
{% for c in cards %}
  <li class="form-inline">
    {{ c.card_name }}
  </li>
{% empty %}
  <li>No cards</li>
{% endfor %}
</ul>
</div>
{% endblock content %}