{% extends "base.html" %}
{% block content %}
{% if message %}
  <script>
      alert('{{ message }}');
  </script>
{% endif %}
  <div class="container">
      <table class="table table-bordered table-striped">
        <thead class="thead-inverse">
          <tr>
            <th>Name</th>
            <th>ID</th>
            <th>View</th>
            <th>Sales</th>
          </tr>
          </thead>
          <tbody>
            {% for s in shops %}
            <tr>
              <td scope="row">{{ s.name }}</td>
              <td>{{ s.id }}</td>
              <td>
                <a href="{% url 'viewshop' id=s.id.id %}">View More</a>
              </td>
              <td>
                <a href="{% url 'viewshop' id=s.id.id %}">Sales Report</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
  </div>
{% endblock content %}